In [1]:
#importing needed packages

In [20]:
import pandas as pd

In [21]:
import numpy as np

In [23]:
import matplotlib.pyplot as plt

In [19]:
import seaborn as sns

In [ ]:
#importing dataset

In [24]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'

In [84]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [58]:
fuel_data.to_csv('fuel_data.csv', index=False)

In [ ]:
#viewing the Structure of the Data

In [57]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [ ]:
#grouping the data set by fuel type to investigate which has the lowest fuel cst

In [34]:
fuel_data.groupby('fuel_type_code_pudl').mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [ ]:
#Descriptive analysis to investigate in measure of dispersal

In [40]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [42]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [43]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

In [ ]:
#investigating the magnitute of the Nan or missing values in the Data set

In [68]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [79]:
fuel_data.groupby('report_year').sum()

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1994,131059,3.364163e+09,13138.051620,263292.115,7.859053e+04,3812.41711
1995,132277,4.458192e+09,12784.441067,425661.488,3.931506e+04,3445.47398
1996,118281,2.768693e+09,11726.508078,86425.275,1.000602e+07,2933.11773
1997,118553,3.077973e+09,11210.909740,163533.452,1.218738e+07,3406.15391
1998,121599,3.617070e+09,11850.394701,140238.656,3.178799e+05,3072.87907
1999,113634,3.445345e+09,11086.829479,126056.285,2.682921e+04,2877.26381
2000,152518,3.394100e+09,12665.204661,326495.434,1.352903e+06,5778.13677
2001,153935,3.147821e+09,11351.712598,180365.641,8.142834e+04,6254.76430
2002,145027,2.585502e+09,10007.324112,121921.135,5.735121e+04,7502.66915
2003,149317,2.287121e+09,10176.936748,149175.726,6.740849e+04,8748.18305
2004,144379,2.124797e+09,9932.250643,184637.699,1.663129e+05,10062.38345
2005,153585,2.244703e+09,10324.548458,135924.139,5.258506e+04,11924.89239
2006,145653,2.432879e+09,10115.646333,188142.032,4.805125e+04,12852.49312
2007,146675,2.573119e+09,10146.862089,256114.312,5.476283e+04,13569.26878
2008,148324,2.513047e+09,9692.425107,314312.022,7.194631e+04,15583.46077
2009,144366,2.633401e+09,9394.970149,263584.566,7.975923e+05,12976.87791
2010,148789,3.056312e+09,9552.091071,331581.467,1.158381e+05,10783.08510
2011,150126,3.052052e+09,9654.865318,374175.603,7.412059e+04,11454.61288
2012,150117,3.414637e+09,9690.506589,321693.544,7.581617e+04,10949.46763
2013,146377,3.287065e+09,9348.631876,306933.236,2.065968e+05,11160.56228
2014,151368,3.161710e+09,8885.938884,518002.469,2.256952e+05,11785.73171
2015,140551,3.650763e+09,7889.076813,260060.984,3.569033e+05,8803.41655
2016,137643,3.818861e+09,7079.257780,255484.814,1.074344e+05,7150.74370
2017,130209,3.329380e+09,6733.883648,244557.823,4.587348e+04,366155.19606
2018,127120,3.974124e+09,6273.315699,221575.426,4.748057e+05,6879.19432

In [47]:
fuel_data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [83]:
fuel_data.groupby('fuel_cost_per_unit_delivered').mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_mmbtu
fuel_cost_per_unit_delivered,,,,,,
-874.937,177.0,2008.0,811.000000,5.754000,86.628000,15.055
-488.054,177.0,2007.0,2240.000000,5.754000,77.605000,13.487
-313.410,210.0,2004.0,588.000000,5.712420,38.722000,6.779
-174.670,194.0,2000.0,77.333333,0.015500,-191.353333,-6.173
-170.187,6.0,2015.0,2292.000000,5.727204,123.751000,21.608
...,...,...,...,...,...,...
1942979.000,9.0,1997.0,52526.000000,0.000066,39.660000,0.560
2114508.000,9.0,1996.0,58795.000000,0.000065,35.964000,0.095
2255688.000,9.0,1997.0,36919.000000,0.000056,61.100000,1.087
7793482.000,9.0,1996.0,211407.000000,0.000065,36.865000,0.145
7964521.000,9.0,1997.0,210474.000000,0.000065,37.847000,0.578